body
    font-size: 16px;
    font-family: "BlueSkyStandard","Microsoft Yahei",Palatino,Arial,sans-serif;


a 
    text-decoration: none;
    color: #000;


.page_header 
    background-color: #fff;
    color: #000;
    padding: 15px 40px;
    height: 40px;


.header__logo__desktop 
    float: left;


#Group-2 
    fill: #000;



.block-menu 
    height: 40px;
    padding-left: 160px; 
    display: block;
    ul 
        height: 37px;
        padding-top: 3px;
        li
            float: left;
            width: 130px;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 2px;
            &:nth-child(1)
                width: 155px;
            &:nth-child(2)
                width: 196px;
            &:nth-child(5)
                width: 175px;
            span
            a 
                line-height: 37px;
                span::after
                    content: '';